.blog {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.post {
  /* Your existing styles for each post container */

  /* Add hover effect to the entire post */
  &:hover {
    transform: scale(1.05); /* Enlarge the entire post slightly on hover */
  }
}

.singlePostImg {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  object-fit: contain;
  margin-bottom: 15px;
  transition: transform 0.3s ease; /* Add a smooth transition effect for the hover */
}

