.sidebar {
    flex: 3;
    height: fit-content;
    margin: 50px;
    padding-bottom: 20px;
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #222222;
    font-weight: 600;
  }
  
  .sidebarItem > img {
    margin-top: 15px;
    width: 250px;
    height: 250px;
  }
 
  
  .sidebarList {
    list-style-type: none;
    margin-bottom: 30px;
  }
  
  .sidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;

  }
  /* Add these styles to your Sidebar.css file or create a new CSS file */

.sidebarItem {
  /* Existing styles for sidebar items */
  margin-bottom: 20px;
}

.sidebarTitle {
  /* Existing styles for sidebar titles */
  display: block;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.searchContainer {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
}

.btnn {
  /* Style for the search button */
  padding: 8px 12px;
  background-color: #8db596; /* Adjust the color as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  align-items: center;
  justify-content: center;

}

/* Hover effect for the search button */
.btnn:hover {
  background-color: #00b309; /* Adjust the color as needed */
}

  
