.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  object-fit: contain;
  margin-bottom: 15px;
  transition: transform 0.3s ease; /* Add a smooth transition effect for the hover */

  /* Hover effect */
  &:hover {
    transform: scale(1.1); /* Enlarge the image slightly on hover */
  }
}


.singlePostTitle {
  text-align: center;
  color: #080808;
  margin: 10px;
  font-size: 28px;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
  &:hover {
    color: #666;
  }
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 28px;
  font-weight: 600;
  display: block;
}
.singlePostDescEdit {
  width: 100%;
  padding: 50px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
  font-size: 18px; 
  line-height: 1.5; 
  margin-right: 20px;
}


.commentsList {
  list-style-type: none;
  padding: 0;
}

.commentItem {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
}

.commentContent {
  font-size: 16px;
  line-height: 1.6;
}

.postCommentSection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.postCommentSection textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

.postCommentSection button {
  background-color: #8db596; /* Light green color */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.postCommentSection button:hover {
  background-color: #6c9d80; /* Darker green on hover */
}

.update{

  color: #fff;
  padding: 10px;
  border: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.editButton {
  background-color: #8db596;
  color: #fff;
  padding: 10px;
  border: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.updateButton {
  background-color: #8db596;
  color: #fff;
  padding: 10px;
  border: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelButton {
  background-color: #8db596;
  color: #fff;
  padding: 10px;
  border: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.deleteButton {
  background-color: #8db596;
  color: #fff;
  padding: 10px;
  border: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}
