

.write {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.writeImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  filter: blur(3px);
}

.writeForm {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Adjusted alignment to the left */
}

.writeFormGroup {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.writeIcon {
  font-size: 24px;
  color: #555;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.writeInput {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.writeText {
  resize: vertical;
}

.writeImageAttachButton {
  background-color: #8db596;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.writeImageAttachButton:hover {
  background-color: #00a827;
}

.writeSubmit {
  background-color: #8db596;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start; /* Align the button to the left */
}

.writeSubmit:hover {
  background-color: #00a827;
}

