.post-details-container {
    max-width: 1600px; /* Further increased max-width for a larger form */
    margin: 80px auto; /* Increased margin for more space */
    padding: 60px; /* Increased padding for more space */
    background-color: #fff;
    border-radius: 20px; /* Increased border-radius for rounded corners */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .image-gallery {
    flex: 1;
  }
  
 
.image-gallery img {
  width: 100%; /* Make the image take 100% of the container width */
  height: auto; /* Maintain the aspect ratio */
  max-height: 400px; /* Set a maximum height for the image */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}
  
  .details-section {
    flex: 2;
    padding-left: 60px; /* Increased padding for more space */
    font-size: 14px;
  }
  
  .details-section h2 {
    color: #333;
    margin-bottom: 60px; /* Increased margin for more space */
    font-size: 120px; /* Further increased font size for the name */
  }
  .details-section h4 {
    font-size: 18px; /* Set a larger font size for the Description heading */
  }
  
  .details-section h3 {
    color: #333;
    font-size: 28px; /* Slightly increased font size for headings */
  }
  
  .details-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .details-section li {
    margin-bottom: 30px; /* Increased margin for more space */
    line-height: 1.8;
    font-size: 15px; /* Further increased font size for the details */
    margin-bottom: 5px;
  }
  

.post-details-container {
  padding: 20px;
}






  
  
  